body {
    background-color: azure;
    padding: 15px;
}

.inputClass {
    margin-top: 20px;
    height: 20px;
    border-radius: 5px;
    border-width: 1px;
    align-content: end;
}

#divForm {
    display: grid;
    grid-template-columns: 130px 250px;
    grid-template-rows: 42px 42px 42px 42px 42px 42px 42px 42px 42px;
    /* justify-items: start; */
    align-items: end;
}

#divSearchBtn {
    display: grid;
    grid-template-columns: 180px 200px;
    align-items: end;
    justify-items: start;
}

#divCandidateId {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 45px 45px 45px 45px 45px 45px 45px;
    align-items: end;
    /* justify-items: end; */
}

/* #divCandidateStatus {
    display: grid;
    grid-template-columns: 125px 200px;
    grid-template-rows: 35px;
    align-items: end;
    justify-items: stretch;
} */

div tr:nth-child(even) {
    background-color: #dfdfe2
}

div fieldSet:nth-child(even) {
    background-color: rgba(168, 168, 236, 0.5);
    color: black;
}

div fieldSet legend {
    color: rgb(126, 8, 8);
    font-style: italic;
}

div fieldSet:nth-child(even) {
    background-color: gray;
    color: white;
}

#divmain {
    display: flex;
    flex-wrap: wrap;

}

fieldset {
    flex-direction: row;
}


#addjobbtn {
    margin-top: 20px;
    margin-right: 20px;
}

.banner {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    color: teal;

}

.inputClass {
    margin-top: 20px;
    height: 22px;
    border-radius: 5px;
    border-width: 1px;
    align-content: end;
}

.buttonClass {
    height: 25px;
    border-radius: 5px;
    background-color: rgba(134, 134, 184, 0.5);
    border-width: 1px;
}

.editBtnClass {
    border-radius: 5px;
    background-color: rgba(134, 134, 184, 0.5);
    width: 50px;
    height: 23px;
    border-width: 1px;
}

.fieldsetClass {
    border-radius: 12px;
}
#jobRequirements{
    height: 40px;
    width: 248px;
    border-color: #85b7d9;
    border-radius: 4px;
}