body {
    background-color: azure;
    padding: 0px;
}

div tr:nth-child(even) {
    background-color: #dfdfe2
}

div fieldSet:nth-child(even) {
    background-color: rgba(168, 168, 236, 0.5);
    color: black;
}

div fieldSet legend {
    color: rgb(126, 8, 8);
    font-style: italic;
}

div fieldSet:nth-child(even) {
    background-color: gray;
    color: white;
}

#divmain {
    display: flex;
    flex-wrap: wrap;

}

fieldset {
    flex-direction: row;
}

#divJobs {
    margin-top: 30px;
}

#addjobbtn {
    margin-top: 20px;
    margin-right: 20px;
}

.banner {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    color: teal;
    /* border-bottom: black 2px solid; */

}

#jobid {
    margin-left: 8px;
}

#jobDescription {
    margin-bottom: -9px;
    margin-left: 8px;
    border-radius: 5px;
    height: 20px;
}

#jobRequirements {
    margin-bottom: -9px;
    margin-left: 8px;
    border-radius: 5px;
    height: 20px;
}

.inputClass {
    margin-top: 20px;
    height: 22px;
    border-radius: 5px;
    border-width: 1px;
}
.buttonClass {
    height: 25px;
    border-radius: 5px;
    background-color: rgba(134, 134, 184, 0.5);
    border-width: 1px;
}
.editBtnClass {
    border-radius: 5px;
    background-color: rgba(134, 134, 184, 0.5);
    width: 50px;
    height: 23px;
    border-width: 1px;
}
.fieldsetClass {
    border-radius: 12px;
}
#searchText {
    margin-left: 12px;
}

